<div class="page-body" id="review-page"></div>
    <h2>Your Book Reviews</h2>

    <div><p>You said:</p>    
        {{#each review}}
            {{#if title}} 
                
                <p>{{title}} by: {{author}}</p>
                <p>{{reviewText}}</p>
                <p>Your rating: {{rating}}</p>
                <p>Do you recommend this book? {{#if recommended}}Yes!{{else}}NO!{{/if}}</p>
                <hr/>
            {{/if}}
            {{else}}
            <p>You haven't reviewed any books yet.</p>
        {{/each}}
    </div>

<div class="form-header">
    <h3>Add a review</h3>
</div>
<div id="review">
    <form name="addReview" action="/account/addReview" method="POST" id="review-form" enctype="application/x-www-form-urlencoded" id="addReview">
        <input type="text" class="input" id="txtReviewTitle" name="txtReviewTitle" placeholder="Title" required />
        <input type="text" class="input" id="txtReviewAuthor" name="txtReviewAuthor" placeholder="Author" required />
        <input type="text" class="input" id="txtReviewText" name="txtReviewText" placeholder="Your Review" required />
        <input type="text" class="input" id="txtReviewRating" name="txtReviewRating" placeholder="Rating from 1-5" required />
        <div><label for="txtReviewCheck" >Do you recomend this book?</label>
        <input type="checkbox" class="check" id="checkReview" name="txtReviewCheck"/></div>
        <button class="btn" type="submit">Add this book</button>
    </form>
</div>
<div>
    <p>When you give a review of one of your books, you help others!</p>
</div>